#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

#menu {
  display: flex;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#menu li {
  flex: 3;
  padding: 20px 5px;
}
#menu ul a {
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
}
#pageContainer {
  flex: 1;
  background-color: #282c34;
  color: white;
  padding: 0px 300px;
}
#pageContainer div:first-child {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginOuter {
  min-height: 30vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
#login {
  display: flex;
  justify-content: center;
  flex: 1;
}
#login form {
  align-self: center;
  border: 3px solid red;
  padding: 1em;
  background-color: skyblue;
  color: black;
}
