#root {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

#menuContainer {
  display: flex;
}
#menu {
}
#menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu li {
  flex: 3;
  padding: 20px 5px;
}
#menu ul a {
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
}

#pageContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  background-color: #282c34;
  color: white;
}
#pageContainer > :first-child {
  padding: 0px 300px;
}

#loginOuter {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
#login {
  flex: 1;
  padding-top: 150px;
}
#login form {
  align-self: center;
  border: 3px solid red;
  padding: 1em;
  background-color: skyblue;
  color: black;
}
#text {
  align-self: flex-start;
  flex: 2;
}
